/* header section  */
header{
  .logo{
    height: 80px;
    width: 80px;
  }
  .nav-link{
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav-item:hover{
    border-bottom: 1px solid #0282f9;
    a{
      color: #0282f9;
    }
  }
}


/* main section */
.contentDiv{
  background-color: black;
  color: white;
  padding: 3rem 0;
}