:root{
  --primary-color: #0282f9;
}

body{
  background-color: black;
}

/* header section  */
header{
  background-color: white;
  .logo{
    height: 80px;
    width: 80px;
  }
  .nav-link{
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav-item:hover{
    border-bottom: 1px solid #0282f9;
    a{
      color: #0282f9;
    }
  }
}


/* main section */
.contentDiv{
  background-color: black;
  color: white;
  padding: 3rem 0;
}

/* explore section  */
.exploreSection{
  background-color: var(--primary-color);

  .navbarExplore{
    a{
      color: white;
      font-size: 0.8rem;
    }
    img{
      height: 60px;
    }
  }
}

/* footer section  */
footer{
  .footerLinks{
    background-image: url('/img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

  }
  .container{
    position: relative;

  }

  h3{
    color: white;
  }
  a{
    color: gray;
    &:hover{
      color: white;
    }
  }

  .footerLogo{
    position: absolute;
    top: -20%;
    right: -5%;
    transform: rotate(-30deg);
    height: 150%;
    opacity: 0.5;
  }

}
.footerSocial{
  background-color: #303030;


  .social{
    align-items: center;
    h4{
      color: var(--primary-color);
      font-weight: bold;
      margin-bottom: 0;
    }
    a{
      margin-left: 0.5rem;
    }
    a:hover{
      transform: scale(1.1);
    }
  }
}

